@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Kalnia+Glaze:wght@100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
h1{
    text-align: center;
    color: white;
    font-weight: bolder;
}

.page-header{
    color: gold;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 0px 1px 10px blue;
}

.link-to-itch-page{
    color: rgb(9, 251, 255);
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    text-shadow: 0px 1px 10px rgb(255, 115, 0);
}

body{
    background-color: rgb(27, 11, 27);
}

.container{
    display: grid;
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 50px;
    padding-left: 30px;
}

p{
    color: white;
}

.game-1{
border: 5px solid gold;
border-radius: 50px;
background-color: black;
box-shadow: 0px 0px 20px rgb(22, 246, 22);


}


.game-3{
    border: 5px solid gold;
    border-radius: 50px;
}

.game-1-link{
    display: flex;
    font-weight: bolder;
    justify-content: center;
    color: rgb(22, 246, 22);
    font-family: Creepster;
    letter-spacing: 5px;
}
.game-1-link:hover{
    text-shadow: 0px 1px 2px red;
}

.game-1-photo{
    display: flex;
    width: 490px;
    border-radius: 50px;
   
   
}

.game-1-header{
    color:  rgb(22, 246, 22);
    font-family: Creepster;
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 12px;
   
    
}

.game-1-description{
    color:  rgb(22, 246, 22);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: Creepster;
    letter-spacing: 2px;
}

.game-2{
    background-color: black;
    border: 5px solid gold;
    border-radius: 50px;
    box-shadow: 0px 0px 20px red;
    
}

.game-2-header{
    color: rgb(157, 6, 6);
}

.game-2-description{
    display: flex;
    color: yellow;
    font-size: 50px;
    text-align: center;

}


.game-3{
    background-color: black;
    box-shadow: 0px 0px 20px gold;
}
.game-3-header{
    color: gold;
    font-family: Rubik;
}
.game-3-photo{
    display: flex;
    width: 490px;
    border-radius: 50px;
    margin-top: 75px;
    
   
}

.game-3-description{
    display: flex;
    color:  gold;
    justify-content: center;
    
    margin-top: 45px;
    font-family: Rubik;
    font-weight: bolder;
}

.game-3-link{
    display: flex;
    justify-content: center;
    color: gold;
    font-family: Rubik;
    font-weight: bolder;
    padding: 10px;
}
