@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-color: rgb(144, 205, 215);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
   
}






.top-button{
    font-size: 20px;
    font-weight: bolder;
    background: 0%;
    border: none;
    margin-right: 50px;
    color: white;
    transition: 0.3s;
    box-shadow: 0px 0px 2px rgb(100, 149, 156);
    background-color: rgb(73, 124, 130);
    
}

.top-button:hover{
    color: black;
    text-shadow: 0 0 10px rgb(135, 135, 135);
    font-size: 22px;

}

.top-button-work{
    font-size: 20px;
    font-weight: bolder;
    background: 0%;
    border: none;
    margin-right: 50px;
    color: white;
    transition: 0.3s;
    box-shadow: 0px 0px 2px rgb(100, 149, 156);
    background-color: rgb(73, 124, 130);
    
}

.top-button-work:hover{
    color: black;
    text-shadow: 0 0 10px rgb(135, 135, 135);
    font-size: 22px;
    

}


.top-left-name{
    color:white;
    float: left;
    margin-left: 2px;
    text-shadow: 0px 0px 20px rgb(73, 124, 130);
  }
  
  


.introduction-header{
    display: block;
    position: absolute;
    border-bottom: 5px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    background: linear-gradient(rgb(23, 74, 81) , rgb(113, 167, 174)95%);
    border-radius: 2px;
    width: 100%;
    height: 53px;
    padding: 0;
    top: 0;
    left: 0;
    
}
.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    
    
    
    
  }
  
  .header-li {
    float:right;
    font-size: 20px;
    font-weight: bolder;
    

  }
  
  .header-li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: right;
    margin-right: 25px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    
  }



.introduction-photo{
    position: absolute;
    left: 0px;
    border-radius: 10%;
    width: 40vh;
    box-shadow: 0px 0px 10px grey;
    border: 5px solid white;
    margin: 20px;
   
   
    
    
  }


  .i-am-text{
    color: rgb(255, 255, 255);
    position: relative;
    top: 50px;
    left: 45vh;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(128, 128, 128);
    font-size: 10vh;
    width: 50vw;
    border-bottom: 5px solid white;
    border-radius: 2px;
    
  }
  


  .under-text{
    color: rgb(255, 255, 255);
    position: relative;
    top: 10px;
    left: 45vh;
    font-weight: bolder;
    text-shadow: 0px 0px 10px grey;
    width: 50vw;
    
  }

  .introduction-holder{
    margin: auto;
    position: absolute;
    top: 15%;
  }

  .about-me-holder{
    border-top: 5px solid white;
    border-radius: 2px;
    width: 100%;
    background: linear-gradient(rgb(113, 167, 174), rgb(23, 74, 81));
    position: absolute;
    bottom: 0px;
    height: 20vh;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .about-me-text{
    color: white;
    margin: auto;
    margin-left: 5px;
    font-size: 2.5vh;
  }

  .email-link{
    color: white;
    text-shadow: 0px 0px 10px grey;
  }

  
